<nav>

  <div class="navbar">
    <div class="logo">
      <a href="/"><img src="/images/wikimaps_logo.png"></a>
    </div>
    <div class="nav-links">
      <a class="nav-item nav-link" href="#">Login</a>
      <a class="nav-item nav-link" href="#">Sign Up</a>
      <a class="nav-item nav-link" href="/maps">My Maps</a>
    </div>
  </div>
</nav>



