
<header>
  <div class="navbar">
    <a class="nav-item nav-link" href="">Login</a>
    <a class="nav-item nav-link" href="">Maps</a>
    <a class="nav-item nav-link" href="">Favourites</a>
  </div>
</header>



