<nav>

  <div class="navbar">
    <div class="logo">
      <img src="/images/wikimaps_logo.png">
    </div>
    <div class="nav-links">
      <a class="nav-item nav-link" href="">Login</a>
      <a class="nav-item nav-link" href="">Maps</a>
      <a class="nav-item nav-link" href="">Favourites</a>
    </div>
  </div>
</nav>



