<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wiki Maps</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user-home.css" type="text/css" />

  <!-- icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
  <header id="profile-head">
    <div id="profile-pic">
      <img src="/images/wikimaps_logo.png">
    </div>
    <h1>FirstName LastName

    </h1>
  </header>

  <main class="container">


    <section>
      <h2>Create a Map</h2>
      <form id="new-map-form" action="/maps" method="post">
        <label for="map-name">Map Name</label>
        <input type="text" id="map-name" name="name" value="eg. Best Coffee in Town"><br>
        <label for="map-description">What are you bookmarking?</label>
        <textarea name="description" id="map-description"></textarea>
        <button class="button-new"type="submit"><i class="fa-solid fa-location-dot"></i>Create a new Map <i class="fa-solid fa-map"></i></button>
      </form>

    </section>

    <section>
    <div id="profile_items">
      <div class="profile-column">
        <section id="my-maps">
          <div class="section_head">
            <h2>My Maps</h2>
            <i class="fa-solid fa-map-pin"></i>
          </div>


          <div class="user_map_list">
            <div class="map-name-description">
              <a href="/maps/id">Calgary Vegan Restaurants</a>
              <p>description of map blah blah blah blah. description of map blah blah blah blah  </p>
            </div>
            <form action="/maps/:id/:delete" method="post">
              <button class="button" type="submit"><i class="fa-solid fa-trash-can"></i></button>
            </form>
          </div>
          <div class="user_map_list">
            <div class="map-name-description">
              <a href="/maps/id">Dog parks</a>
              <p>description of map blah blah blah blah. description of map blah blah blah blah  </p>
            </div>
            <form action="/maps/:id/:delete" method="post">
              <button class="button" type="submit"><i class="fa-solid fa-trash-can"></i></button>
            </form>
          </div>
          </section>
          <section id="my-contributions">
            <div class="section_head">
              <h2>My Contributions </h2>
              <i class="fa-solid fa-map-location-dot"></i>
            </div>
            <div class="user_map_list map-name-description">
              <a href="/maps/id">Exotic House Plants</a>
              <p>description of map blah blah blah blah. description of map blah blah blah blah  </p>
            </div>
            <div class="user_map_list map-name-description">
              <a href="/maps/id">Best Coffee Shops</a>
              <p>description of map blah blah blah blah. description of map blah blah blah blah  </p>
            </div>
          </section>
        </div>

      <div class="profile-column">
        <section class="map_list">
          <div class="section_head">
            <h2>Favourite Maps</h2>
            <i class="fa-solid fa-location-pin-lock"></i>
          </div>
          <div class="user_map_list">
            <div class="map-name-description">
              <a href="#">Random liked map 1</a>
              <p>description of map</p>
            </div>
            <form action="/likes/:delete" method="post">
              <button class="button" type="submit"> <i class="fa-solid fa-heart"></i></button>
            </form>

          </div>
          <div class="user_map_list">
            <div class="map-name-description">
              <a href="#">Random liked Map 2</a>
              <p>description of map</p>
            </div>
            <form action="/likes/:delete" method="post">
              <button class="button" type="submit"> <i class="fa-solid fa-heart"></i></button>
            </form>

          </div>
          <div class="user_map_list">
            <div class="map-name-description">
              <a href="#">Random liked Map 3</a>
              <p>description of map blah blah blah blah. description of map blah blah blah blah  </p>
            </div>
            <form action="/likes/:delete" method="post">
              <button class="button" type="submit"> <i class="fa-solid fa-heart"></i></button>
            </form>
          </div>
        </section>
      </div>
    </div>




  </main>


</body>
</html>
