.table-title {
  display: flex;
  width: 50%;
  padding-right: 5em;
  background-color: rgba(48, 99, 142, 0.2);
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.name {
  display: flex;
  justify-content: flex-start;
  margin-right: 1.75em;
  padding-left: 1em;
}

.description {
  display: flex;
  padding-left: 7em;
}

.all-maps {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.likes {
  padding-left: 5em;
}
