body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
  background: rgb(236, 247, 249);
  padding: 0 15rem;
}

#map {
  height: 400px;
  width: 800px;
}

h1, p {
  color: #003d5b;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: right;
  width: 100vw;
  height: 80px;
  background-color: #003d5b;
}

.nav-item {
  color: #EDAE49;
  text-decoration: none;
  padding-right: 1em;
}
