body {
  display: flex;

  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
  background: rgb(236, 247, 249);
  padding: 0 15rem;
}

#map {
  height: 400px;
  width: 800px;
}

h1, p {
  color: #003d5b;
}
