body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: rgb(236, 247, 249);
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}

#map {
  height: 600px;
  width: 800px;
  margin: .5rem;
}

h1, p {
  color: #003d5b;
}

// Nav bar styling
.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background-color: #003d5b;
  padding: 0.2rem 1rem;
}

.nav-link {
  color: #EDAE49;
  text-decoration: none;
  padding-right: 1em;
}

.logo img {
  width: 5rem;
  height: auto;
}
// Nav bar styling end
