#profile_items {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
  width: 30rem;

  margin: 2rem;

  .section_head {
    background-color: rgb(48, 99, 142, 0.2);
    padding: 0 1rem;
    border-radius: 1rem 1rem 0 0;
  }
}

.section_head, .user_map_list {
  display: flex;
  justify-content: space-between;
}

.user_map_list{
  width: 100%;
  border-bottom: solid rgb(48, 99, 142, 0.2);
}

.map_name_description {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 100%;

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #30638E;
  }

}


.button {
  border: none;
  color: rgb(48, 99, 142);
  background-color: rgb(236, 247, 249);
  padding: 0;
  margin: 1em;
}


i {
  font-size: 24px;
  padding-top: 1.2rem;
}

#create_new_map {
  display: flex;
  flex-direction: column;
  min-width: 900px;
  height: auto;
}



.fa-heart {
  padding: 0;
  color: #D1495B;
  margin: 1em;
}
