#profile_items {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
  border: solid rgb(48, 99, 142, 0.2);
  border-radius: 1em;
  width: 30rem;
  padding: 0 2rem;
  margin: 2rem;
}

.section_head, .user_map_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.button {
  background-color: #30638E;
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
}


i {
  font-size: 24px;
  padding-top: 1.2rem;
}

#create_new_map {
  display: flex;
  flex-direction: column;
  min-width: 900px;
  height: auto;
}

.liked_map {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.fa-heart {
  padding: 0;
  color: #D1495B;
}
